body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-family: "Varela Round", sans-serif;
    font-weight: 800;
    font-size: 18; 
    background-color: #98ebcc;
    color: #0b120f;
  }