:root {
    --text-color: #2b2b2b;
    --text-hover-color: #333;
    --primary-color: linear-gradient(135deg, #FFEB3B, #4A90E2);
    --secondary-color: #336494;
    --tertiary-color: #676a6b30;
    --white-color: #fff;

    --font-size-s: 16px;
    --font-size-m: 20px;
    --font-size-l: 24px;

    --font-weight-normal: 400;
    --font-weight-bold: 500;

    --button-padding: 15px 35px;
  
   --font-family-primary: "Varela Round", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--font-family-primary);
    color: var(--text-color);
    background: var(--primary-color);
}

header {
    width: 100%;
}

nav {
    background-color: var(--secondary-color);
}
  
main {
    margin-top: 40px;
}
  
h1 {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-bold);
    text-align: center;
    padding-bottom: 20px;
}
  
ul > .list-group-item {
    border: 0;
    background: transparent;
}

li > .btn, .btn-primary {
    display: inline-block;
    width: 600px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-size: var(--font-size-m);
    padding: var(--button-padding);
    border: none;
    border-radius: 3px;
}

li > .btn-primary:hover, .btn-primary:focus {
    background-color: var(--tertiary-color);
    color: var(--text-hover-color);
    opacity: 0.8;
}

.modal img {
    width: 180px;
    height: 180px;
}

.arrow {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: 10px;
}

/*  Animation  */ 

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.modal { animation: fadeIn 1s ease-in-out; }
  

/*  Media Queries  */
  
@media all and (max-width: 500px) {
    h1 {
      font-size: var(--font-size-m);
    }
    li > .btn, .btn-primary {
      width: 160px;
      font-size: var(--font-size-s);
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    li > .btn, .btn-primary {
        width: 260px;
        font-size: var(--font-size-s);
      }
}